# 系统名称
VITE_APP_TITLE=系统
# 系统的访问前缀
VITE_APP_PRE_URL=/SYSTEM/
# 后端接口
VITE_API_BASE_URL=http://192.168.1.110:1000

# mapbox Key
VITE_APP_MAPBOX=
# gaode Key
VITE_APP_GAODE=
# tianditu Key
VITE_APP_TIANDITU=

#备案
VITE_APP_ICP=
VITE_APP_ICP_URL=
VITE_APP_PSB=
VITE_APP_PSB_URL=