@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-breakpoint + 1}) and (max-width: #{$tablet-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-breakpoint + 1}) {
    @content;
  }
}

@mixin hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
