@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

$mobile-breakpoint: 768px;
$tablet-breakpoint: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-breakpoint + 1}) and (max-width: #{$tablet-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-breakpoint + 1}) {
    @content;
  }
}

@mixin hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar($thumb-color: rgb(0 212 255 / 40%), $thumb-hover-color: rgb(0 212 255 / 60%), $track-color: rgb(0 0 0 / 15%), $size: 6px) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: $size / 2;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $size / 2;

    &:hover {
      background: $thumb-hover-color;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}
